<form [formGroup]="employeeform" (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z5" [ngClass]="{'loader': isLoading}">
        <div class="parent-div">
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Employee ID</mat-label>
                <input matInput placeholder="Employee Id" formControlName="Employee_Id">
                <mat-icon matSuffix>code</mat-icon>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="legacy">
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="Employee Name" formControlName="Employee_name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>
        </div>
            <div class="parent-div">
              <div>
              <mat-form-field appearance="legacy">
                <mat-label>Emp.role</mat-label>
                <input matInput placeholder="Emp. role" formControlName="Employee_role">
                <mat-icon matSuffix>work</mat-icon>
              </mat-form-field>
            </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Address" formControlName="Address" maxlength="50">
                    <mat-icon matSuffix>home</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="parent-div">
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput  placeholder="Email" type="email" formControlName="Email">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mpbile number" formControlName="Mobile_number" maxlength="10">
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="parent-div">
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Salary</mat-label>
                    <input matInput placeholder="Salary (number format)" formControlName="Salary">
                    <mat-icon matSuffix>savings</mat-icon>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Joining date</mat-label>
                    <input matInput placeholder="Select Date" type="date" formControlName="Joining_date">
                  </mat-form-field>
                </div>
              </div>
              <div class="parent-div">
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Aadhar Card Number</mat-label>
                    <input matInput placeholder="Enter Aadhar card" formControlName="Aadhar_card" min="12" maxlength="12">
                    <mat-icon matSuffix>remember_me</mat-icon>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="legacy">
                    <mat-label>Pan Card</mat-label>
                    <input matInput placeholder="Use Capital Words" formControlName="Pan_card">
                    <mat-icon matSuffix>remember_me</mat-icon>
                  </mat-form-field>
                </div>
                
              </div>
              <div class="btn-row">
                <button mat-raised-button color="basic" (click)="clearInputMethod1()">Clear</button>
                <button mat-raised-button class="primary">Save</button>
              </div>
              <div *ngIf="imgFile">
                <img [src]="imgFile" alt="" style="width:40px; height:25px">
              </div>
    </mat-card>
</form>
<div>
  <!-- <mat-form-field appearance="legacy"> -->
  <mat-label>Profile Picture</mat-label>
  <input type="file" placeholder="Select a picture" (change)="onImageChange($event)">
  <!-- <mat-icon matSuffix>remember_me</mat-icon> -->
  <!-- </mat-form-field> -->
</div>