<div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <mat-card class="mat-elevation-z5"> 
            <label>Child Info ("The Participant")</label> 
            <div class="parent-div">
                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput type="name" placeholder="Student Name" formControlName = "name">
                        <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon> 
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" placeholder="Address Here" formControlName = "address">
                        <mat-icon matSuffix>home</mat-icon>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput type="date" placeholder="DOB" formControlName = "date">
                    </mat-form-field>
                </div>
            </div>
                <div class="parent-div">
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Email Id</mat-label>
                            <input matInput type="email" placeholder="Email" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="legacy">
                          <mat-label>School/Collage</mat-label>
                          <input matInput type="text" placeholder="Enter School/Collage Name" formControlName="school">
                          <mat-icon matSuffix>school</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Center Location</mat-label>
                            <input matInput type="text" placeholder="Enter Location" formControlName="center_location">
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="parent-div">
                    <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>Which do you like most?</mat-label>
                        <select matNativeControl required formControlName="select">
                            <option value=""></option>
                            <option value="batting">Batting</option>
                            <option value="bowling">Bowling</option>
                            <option value="fielding">Fielding</option>
                            <option value="wicket-keeping">Wicket-Keeping</option>
                          </select>
                    </mat-form-field>
                </div>
                   <div>
                       <mat-form-field appearance="legacy">
                           <mat-label>Name of your favorite cricketer</mat-label>
                           <input matInput type="text" placeholder="Enter Name Here" formControlName="favorite">
                           <mat-icon matSuffix>sports_cricket</mat-icon>
                       </mat-form-field>
                   </div>
                   <div>
                    <mat-form-field appearance="legacy">
                        <mat-label>Explain Favorite Moment</mat-label>
                        <input matInput type="text" placeholder="Enter Moment Here" formControlName="favorite_movement">
                        <mat-icon matSuffix>hiking</mat-icon>
                    </mat-form-field>
                   </div>
                </div>
                <div class="parent-div">
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Age Groups</mat-label>
                            <select matNativeControl required formControlName="age_group">
                                <option value=""></option>
                                <option value="6-10">6-10</option>
                                <option value="10-14">10-14</option>
                                <option value="14-18">14-18</option>
                                <option value="18-21">18-21</option>
                              </select>
                            <mat-icon matSuffix>hiking</mat-icon>
                        </mat-form-field>
                       </div>
                       <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Timing</mat-label>
                            <select matNativeControl required formControlName="timing">
                                <option value="Morning 7:00-8:30">Morning 7:00-8:30</option>
                                <option value="Afternoon 1:00-2:30">Afternoon 1:00-2:30</option>
                                <option value="Evening 7:00-8:30">Evening 7:00-8:30</option>
                            </select>
                            <mat-icon matSuffix>hiking</mat-icon>
                        </mat-form-field>
                       </div>
                </div>
                <label>Parent Info ("Guidience")</label> 
                <div class="parent-div">
                    <div>
                      <mat-form-field>
                          <mat-label>Name</mat-label>
                          <input matInput type="text" placeholder="Enter your Name" formControlName="parent_name">
                          <mat-icon matSuffix>sentiment_satisfied_alt</mat-icon>
                      </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput type="text" placeholder="Enter your Address" formControlName="parent_address">
                            <mat-icon matSuffix>home</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Email Address" formControlName="parent_email"> 
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="parent-div">
                    <div>
                        <mat-form-field>
                            <mat-label>Primary Number</mat-label>
                            <input matInput type="number" placeholder="Phone" formControlName="primary_number"> 
                            <mat-icon matSuffix>contact_phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Secondary Number</mat-label>
                            <input matInput type="number" placeholder="Phone" formControlName="secondary_number"> 
                            <mat-icon matSuffix>local_phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Emergency Contact</mat-label>
                            <input matInput type="number" placeholder="Phone" formControlName="emergency_contact"> 
                            <mat-icon matSuffix>phone_in_talk</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="select">
                    <div>
                        <mat-form-field>
                            <mat-label>Relation With Student</mat-label>
                            <select matNativeControl required formControlName="name_of_relation">
                                <option value=""></option>
                                <option value="father">Father</option>
                                <option value="mother">Mother</option>
                                <option value="brother/sister">Brother/Sister</option>
                                <option value="spounce">Spounce</option>
                              </select>
                        </mat-form-field>
                    </div>
                </div>
                <label>Payment</label> 
                <div class="parent-div">
                    <div>
                    <mat-form-field>
                        <mat-label>Packages</mat-label>
                        <select matNativeControl required formControlName="packages">
                            <option value="12 months">12 Months</option>
                            <option value="1 months">1 Months</option>
                            <option value="3 months">3 Months</option>
                            <option value="6 months">6 Months</option>
                            <option value="9 months">9 Months</option>
                          </select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Registration Amount</mat-label>
                        <input matInput type="number" placeholder="Enter Amount" formControlName="registration_amount">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Fee Amount</mat-label>
                        <input matInput type="number" placeholder="Enter Amount" formControlName="fee_amount">
                    </mat-form-field>
                </div>
                </div>
                <div class="parent-div">
                    <div>
                        <mat-form-field>
                            <mat-label>Payment Mode</mat-label>
                            <select matNativeControl required formControlName="payment_mode">
                                <option value=""></option>
                                <option value="debit">Debit</option>
                                <option value="credit">Credit</option>
                                <option value="upi's">UPI's</option>
                                <option value="onlinepayment">OnlinePayment</option>
                                <option value="cash">Cash</option>
                              </select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Discount (%)</mat-label>
                            <input matInput type="number" placeholder="Enter Discount" formControlName="discount">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Total Amount Recieved</mat-label>
                            <input matInput type="number" placeholder="Enter Amount" formControlName="total_amount">
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn-row">
                    <mat-checkbox formControlName="terms">Terms & Condition!</mat-checkbox>
                    <button mat-raised-button color="basic" (click)="clearInputMethod()" [disabled]="!studentForm.valid">Clear</button>
                    <button mat-raised-button class="primary">Save</button>
                </div>
        </mat-card>
    </form>
</div>