.header {
    mat-icon {
        position: relative;
        top: 17px;
        left: 18px;
        font-size: 30px;
        // font-family: sans-serif;
        color: #f13737;
    }
    span {
        position: relative;
        top: 12px;
        left: 23px;
        font-size: 30px;
        padding-left: 10px;
        // font-family: sans-serif;
        color: #f13737;
    }
}