@import "../../../../../assets/styles/variables";
// #2d323e , #009FA4
.menu-item-content {
  display: flex;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  height: 48px;
  color: #fff;
  overflow: hidden;

  i {
    margin-right: 10px;
    color: #fff;
  }

  &:hover {
    background: whitesmoke !important;
    color: #2d323e !important;
  }

  .align-right {
    flex: 1;
    text-align: right;
    margin-right: 5px;
  }

  .chevron {
    transition: transform 0.3s;
    display: inline-block;
  }

  .chevron-open {
    transform: rotate(90deg);
  }

  .chevron-closed {
    transform: rotate(0deg);
  }

  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  a {
    color: inherit;
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.menu-item-children {
  transition: height 0.3s;
  overflow: hidden;
}

.menu-item-label {
  margin-left: 1em;
  font-size: 13px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(45, 50, 62);
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  margin-left: 55px;
  position: fixed;
  z-index: 100;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

span.tooltiptext:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgb(45, 50, 62);
  left: -8px;
}

.selected-menu-item {
  // background-color: #ffffff;
  background-image: linear-gradient(#f13737, #ff7177);
  color: #2d323e;
  &:hover {
    background-color: #2d323e;
  }
}
.not-selected-menu-item {
  background-color: #2d323e !important;
  color: #fff;
  &:hover {
    background-color: #2d323e;
  }
}

