
  .primary {
    background-image: linear-gradient(#f13737, #ff7177);
    color: white;
  }
  .delete-icon {
      cursor: pointer;
      color: #ff7177;
  }
  .delete-header {
      min-width: 10px;
      max-width: 10px;
  }
  mat-card{
    padding: 0 !important;
    margin: 20px;
}