  .delete-icon {
      cursor: pointer;
      color: #ff7177;
  }
  .delete-header {
      min-width: 10px;
      color: #ff7177;
  }
  mat-card{
    padding: 0 !important;
    margin: 20px;
    width: 205%;
}