$att-background-gray: #f2f2f2;
$att-black: #000;
$att-blue: #009fdb;
$att-dark-blue: #0568ae;
$att-dark-gray: #5a5a5a;
$att-dark-green: #007a3e;
$att-dark-purple: #702f8a;
$att-gray: #959595;
$att-green: #4ca90c;
$att-light-blue: #71c5e8;
$att-light-gray: #d2d2d2;
$att-light-green: #b5bd00;
$att-light-purple: #caa2dd;
$att-orange: #ea7400;
$att-purple: #9063cd;
$att-red: #cf2a2a;
$att-white: #fff;
$att-yellow: #ffb81c;

$accent-colors: (
  'att-accent-dark-blue': $att-dark-blue,
  'att-accent-dark-gray': $att-dark-gray,
  'att-accent-dark-green': $att-dark-green,
  'att-accent-dark-purple': $att-dark-purple,
  'att-accent-gray': $att-gray,
  'att-accent-green': $att-green,
  'att-accent-light-blue': $att-light-blue,
  'att-accent-light-gray': $att-light-gray,
  'att-accent-light-green': $att-light-green,
  'att-accent-light-purple': $att-light-purple,
  'att-accent-purple': $att-purple,
  'att-accent-yellow': $att-yellow
);

$functional-colors: (
  'att-functional-background-gray': $att-background-gray,
  'att-functional-digital-text-black': $att-black,
  'att-functional-link-blue': $att-dark-blue,
  'att-functional-green': $att-dark-green,
  'att-functional-red': $att-red,
  'att-functional-yellow': $att-yellow
);

$secondary-colors: (
  'att-secondary-black': $att-black,
  'att-secondary-orange': $att-orange,
  'att-secondary-white': $att-white
);

$signature-colors: (
  'att-signature-blue': $att-blue
);
