// mat-card {
//     width: 80%;
//     min-height: 100px;
//     background-color: white;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     border-radius: 20px;
//     margin-top: 10px;

//         label {
//             color: #ff7177;
//             font-size: 25px;
//             font-weight: 600;
//             font-style: italic;
//             margin-bottom: 20px;
//         }
//         .parent-div {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             align-content: space-between;
//             width: 100%;
//             div {
//               width: 33.3%;
//               margin: 10px;
//               mat-form-field {
//                 width: 100%; 
//               }
//             }
//           }
//     }
// .btn-row {
//     margin: 10px;
//     float: end;
//     text-align: right;
//     button {
//       margin-left: 20px;
//       width: 150px;
//       border-radius: 100px;
//     }
//   }
//   .primary {
//     background-image: linear-gradient(#f13737, #ff7177);
//     color: white;
//   }
  .delete-icon {
      cursor: pointer;
      color: #ff7177;
  }
  mat-card{
    padding: 0 !important;
    margin: 20px;
}
  .delete-header {
      min-width: 10px;
      // max-width: 10px;
  }